/* Primary color #007A78; */
/* Secondary color  */
/* third color gray */

/* hover color #219ebc */

* {
  background-color: #003049;
}

#form,
#question-container {
  color: #f77f00;
}
h1 {
  margin-right: 200px;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 50px;
  font-weight: 700;
  color: #eae2b7;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

#image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

#username {
  background-color: white;
}
#age {
  background-color: white;
}
#answer {
  background-color: white;
}

.rows-one {
  display: flex;
  justify-content: space-around;
}

#leaderboard {
  border: gray solid 5px;
  color: #f77f00;
  overflow: scroll;
  height: 200px;
  width: 200px;
  background-color: white;
}

.s-button:hover {
  background-color: #219ebc;
  transition: 0.7s;
}

.s-button {
  color: aqua;
}

#image {
  margin-bottom: 2em;
}

.audio {
  margin-bottom: 4em;
}

.boxes {
  display: flex;
  width: 100%;
}

.box {
  height: 40px;
  border-right: 1px solid #c7c7c7;
  flex: 1;
}
.progress {
  border: 1px solid #c7c7c7;
  border-right: none;
  position: relative;
}

.progress-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #2a9d8f;
  opacity: 0.57;
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 0.4s ease-out;
}

/*============*/
.audio-column {
  float: left;
  width: 33.3%;
}

.audio-row::after {
  content: "";
  display: table;
  clear: both;
}

#chicken-drop-zone {
  width: 300px;
  height: 300px;
  margin-left: 200px;
  margin-top: 3em;
  background-color: aliceblue;
  border: dotted;
  columns: 3 auto;
}

#cow-drop-zone {
  width: 300px;
  height: 300px;
  margin-left: 200px;
  margin-top: 3em;
  background-color: aliceblue;
  border: dotted;
  columns: 3 auto;
}

#dog-drop-zone {
  width: 300px;
  height: 300px;
  margin-left: 200px;
  margin-top: 3em;
  background-color: aliceblue;
  border: dotted;
  columns: 3 auto;
}

* {
  box-sizing: border-box;
}

.dropzone-column {
  float: left;
  width: 33.3%;
}

.dropzone-row::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  float: left;
  width: 33.3%;
}

.container {
  float: left;
  width: 33.3%;
}

#chicken-card {
  width: 300px;
  height: 300px;

  position: relative;
  flex-direction: row;
}

#dog-card {
  width: 300px;
  height: 300px;
  align-items: right;
  grid-row: 3 auto;

  position: relative;
  flex-direction: row;
}

#cow-card {
  width: 300px;
  height: 300px;
  position: relative;
  flex-direction: row;
}

/* =========== */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.82);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.33 ease-out;
}

body.overlay-is-open .overlay {
  opacity: 1;
  visibility: visible;
}

body.overlay-is-open .question-container {
  filter: blur(5px);
}
