h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

.rows-one {
  display: flex;
  justify-content: space-around;
}

#leaderboard {
  border: gray solid 5px;
}

#image {
  margin-bottom: 2em;
}

.audio {
  margin-bottom: 4em;
}

.boxes {
  display: flex;
  width: 100%;
}

.box {
  height: 40px;
  border-right: 1px solid #c7c7c7;
  flex: 1;
}
.progress {
  border: 1px solid #c7c7c7;
  border-right: none;
  position: relative;
  width: 200px;
}

.progress-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(79, 208, 79);
  opacity: 0.57;
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 0.4s ease-out;
}

/*============*/
.audio-column {
  float: left;
  width: 33.3%;
}

.audio-row::after {
  content: "";
  display: table;
  clear: both;
}

#chicken-drop-zone {
  width: 300px;
  height: 300px;
  margin-left: 200px;
  margin-top: 3em;
  background-color: aliceblue;
  border: dotted;
  columns: 3 auto;
}

#cow-drop-zone {
  width: 300px;
  height: 300px;
  margin-left: 200px;
  margin-top: 3em;
  background-color: aliceblue;
  border: dotted;
  columns: 3 auto;
}

#dog-drop-zone {
  width: 300px;
  height: 300px;
  margin-left: 200px;
  margin-top: 3em;
  background-color: aliceblue;
  border: dotted;
  columns: 3 auto;
}

* {
  box-sizing: border-box;
}

.dropzone-column {
  float: left;
  width: 33.3%;
}

.dropzone-row::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  float: left;
  width: 33.3%;
}

.container {
  float: left;
  width: 33.3%;
}

#chicken-card {
  width: 300px;
  height: 300px;

  position: relative;
  flex-direction: row;
}

#dog-card {
  width: 300px;
  height: 300px;
  align-items: right;
  grid-row: 3 auto;

  position: relative;
  flex-direction: row;
}

#cow-card {
  width: 300px;
  height: 300px;
  position: relative;
  flex-direction: row;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.open-popup {
  visibility: visible;
  top: 50%;
}

.popup h2 {
  font-size: 38px;
  font-weight: bold;
  padding: 10px;
}

/* =========== */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.82);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.33 ease-out;
}

body.overlay-is-open .overlay {
  opacity: 1;
  visibility: visible;
}

body.overlay-is-open .question-container {
  filter: blur(5px);
}
